<div id="likes-visualisation">
    <!-- Total likes -->
    <div id="total-likes" class="two-col-grid">
        <div class="cont20">
            <p>Total likes: {{ total_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ total_likes_mean20 }}</p>

            <img src="{{ total_likes_cp20 }}" alt="total countplot"><br>
        </div>
        <div class="cont21">
            <p>Total likes: {{ total_likes_sum21 }} ({{ total_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ total_likes_mean21 }} ({{ total_likes_mean_diff }})</p>
            <img src="{{ total_likes_cp21 }}" alt="total countplot"><br>
        </div>
    </div>
    <!-- Crosstown London likes -->
    <div id="handle1-likes" class="two-col-grid">
        <div class="cont20">
            <p>Crosstown likes: {{ handle1_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ handle1_likes_mean20 }}</p>
            <img src="{{ handle1_likes_cp20 }}" alt="handle1 countplot"><br>
        </div>
        <div class="cont21">
            <p>Crosstown likes: {{ handle1_likes_sum21 }} ({{ handle1_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ handle1_likes_mean21 }} ({{ handle1_likes_mean_diff }})</p>
            <img src="{{ handle1_likes_cp21 }}" alt="handle1 countplot"><br>
        </div>
    </div>
    <!-- Gee's Restaurant likes -->
    <div id="handle2-likes" class="two-col-grid">
        <div class="cont20">
            <p>Gees likes: {{ handle2_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ handle2_likes_mean20 }}</p>
            <img src="{{ handle2_likes_cp20 }}" alt="handle2 countplot"><br>
        </div>
        <div class="cont21">
            <p>Gees likes: {{ handle2_likes_sum21 }} ({{ handle2_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ handle2_likes_mean21 }} ({{ handle2_likes_mean_diff }})</p>
            <img src="{{ handle2_likes_cp21 }}" alt="handle2 countplot"><br>
        </div>
    </div>
    <!-- NMBCo likes -->
    <div id="handle3-likes" class="two-col-grid">
        <div class="cont20">
            <p>NMBCo likes: {{ handle3_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ handle3_likes_mean20 }}</p>
            <img src="{{ handle3_likes_cp20 }}" alt="handle3 countplot"><br>
        </div>
        <div class="cont21">
            <p>NMBCo likes: {{ handle3_likes_sum21 }} ({{ handle3_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ handle3_likes_mean21 }} ({{ handle3_likes_mean_diff }})</p>
            <img src="{{ handle3_likes_cp21 }}" alt="handle3 countplot"><br>
        </div>
    </div>
    <!-- Oliver Spencer likes -->
    <div id="handle4-likes" class="two-col-grid">
        <div class="cont20">
            <p>Oliver Spencer likes: {{ handle4_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ handle4_likes_mean20 }}</p>
            <img src="{{ handle4_likes_cp20 }}" alt="handle4 countplot"><br>
        </div>
        <div class="cont21">
            <p>Oliver Spencer likes: {{ handle4_likes_sum21 }} ({{ handle4_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ handle4_likes_mean21 }} ({{ handle4_likes_mean_diff }})</p>
            <img src="{{ handle4_likes_cp21 }}" alt="handle4 countplot"><br>
        </div>
    </div>
    <!-- The Pig Hotel likes -->
    <div id="handle5-likes" class="two-col-grid">
        <div class="cont20">
            <p>The Pig Hotel likes: {{ handle5_likes_sum20 }}</p>
            <p>Average likes per tweet: {{ handle5_likes_mean20 }}</p>
            <img src="{{ handle5_likes_cp20 }}" alt="handle5 countplot"><br>
        </div>
        <div class="cont21">
            <p>The Pig Hotel likes: {{ handle5_likes_sum21 }} ({{ handle5_likes_sum_diff }})</p>
            <p>Average likes per tweet: {{ handle5_likes_mean21 }} ({{ handle5_likes_mean_diff }})</p>
            <img src="{{ handle5_likes_cp21 }}" alt="handle5 countplot"><br>
        </div>
    </div>
</div>