<div id="replies-visualisation">
    <!-- Total replies -->
    <div id="total-replies" class="two-col-grid">
        <div class="cont20">
            <p>Total total posts' replies: {{ total_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ total_replies_mean20 }}</p>

            <img src="{{ total_replies_cp20 }}" alt="total countplot"><br>
        </div>
        <div class="cont21">
            <p>Total replies: {{ total_replies_sum21 }} ({{ total_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ total_replies_mean21 }} ({{ total_replies_mean_diff }})</p>
            <img src="{{ total_replies_cp21 }}" alt="total countplot"><br>
        </div>
    </div>
    <!-- Crosstown London replies -->
    <div id="handle1-replies" class="two-col-grid">
        <div class="cont20">
            <p>Crosstown total posts' replies: {{ handle1_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ handle1_replies_mean20 }}</p>
            <img src="{{ handle1_replies_cp20 }}" alt="handle1 countplot"><br>
        </div>
        <div class="cont21">
            <p>Crosstown replies: {{ handle1_replies_sum21 }} ({{ handle1_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ handle1_replies_mean21 }} ({{ handle1_replies_mean_diff }})</p>
            <img src="{{ handle1_replies_cp21 }}" alt="handle1 countplot"><br>
        </div>
    </div>
    <!-- Gee's Restaurant replies -->
    <div id="handle2-replies" class="two-col-grid">
        <div class="cont20">
            <p>Gees total posts' replies: {{ handle2_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ handle2_replies_mean20 }}</p>
            <img src="{{ handle2_replies_cp20 }}" alt="handle2 countplot"><br>
        </div>
        <div class="cont21">
            <p>Gees replies: {{ handle2_replies_sum21 }} ({{ handle2_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ handle2_replies_mean21 }} ({{ handle2_replies_mean_diff }})</p>
            <img src="{{ handle2_replies_cp21 }}" alt="handle2 countplot"><br>
        </div>
    </div>
    <!-- NMBCo replies -->
    <div id="handle3-replies" class="two-col-grid">
        <div class="cont20">
            <p>NMBCo total posts' replies: {{ handle3_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ handle3_replies_mean20 }}</p>
            <img src="{{ handle3_replies_cp20 }}" alt="handle3 countplot"><br>
        </div>
        <div class="cont21">
            <p>NMBCo replies: {{ handle3_replies_sum21 }} ({{ handle3_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ handle3_replies_mean21 }} ({{ handle3_replies_mean_diff }})</p>
            <img src="{{ handle3_replies_cp21 }}" alt="handle3 countplot"><br>
        </div>
    </div>
    <!-- Oliver Spencer replies -->
    <div id="handle4-replies" class="two-col-grid">
        <div class="cont20">
            <p>Oliver Spencer total posts' replies: {{ handle4_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ handle4_replies_mean20 }}</p>
            <img src="{{ handle4_replies_cp20 }}" alt="handle4 countplot"><br>
        </div>
        <div class="cont21">
            <p>Oliver Spencer replies: {{ handle4_replies_sum21 }} ({{ handle4_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ handle4_replies_mean21 }} ({{ handle4_replies_mean_diff }})</p>
            <img src="{{ handle4_replies_cp21 }}" alt="handle4 countplot"><br>
        </div>
    </div>
    <!-- The Pig Hotel replies -->
    <div id="handle5-replies" class="two-col-grid">
        <div class="cont20">
            <p>The Pig Hotel total posts' replies: {{ handle5_replies_sum20 }}</p>
            <p>Average replies per tweet: {{ handle5_replies_mean20 }}</p>
            <img src="{{ handle5_replies_cp20 }}" alt="handle5 countplot"><br>
        </div>
        <div class="cont21">
            <p>The Pig Hotel replies: {{ handle5_replies_sum21 }} ({{ handle5_replies_sum_diff }})</p>
            <p>Average replies per tweet: {{ handle5_replies_mean21 }} ({{ handle5_replies_mean_diff }})</p>
            <img src="{{ handle5_replies_cp21 }}" alt="handle5 countplot"><br>
        </div>
    </div>
</div>