<div id="retweets-visualisation">
    <!-- Total retweets -->
    <div id="total-retweets" class="two-col-grid">
        <div class="cont20">
            <p>Total total posts' retweets: {{ total_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ total_retweets_mean20 }}</p>

            <img src="{{ total_retweets_cp20 }}" alt="total countplot"><br>
        </div>
        <div class="cont21">
            <p>Total retweets: {{ total_retweets_sum21 }} ({{ total_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ total_retweets_mean21 }} ({{ total_retweets_mean_diff }})</p>
            <img src="{{ total_retweets_cp21 }}" alt="total countplot"><br>
        </div>
    </div>
    <!-- Crosstown London retweets -->
    <div id="handle1-retweets" class="two-col-grid">
        <div class="cont20">
            <p>Crosstown total posts' retweets: {{ handle1_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ handle1_retweets_mean20 }}</p>
            <img src="{{ handle1_retweets_cp20 }}" alt="handle1 countplot"><br>
        </div>
        <div class="cont21">
            <p>Crosstown retweets: {{ handle1_retweets_sum21 }} ({{ handle1_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ handle1_retweets_mean21 }} ({{ handle1_retweets_mean_diff }})</p>
            <img src="{{ handle1_retweets_cp21 }}" alt="handle1 countplot"><br>
        </div>
    </div>
    <!-- Gee's Restaurant retweets -->
    <div id="handle2-retweets" class="two-col-grid">
        <div class="cont20">
            <p>Gees total posts' retweets: {{ handle2_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ handle2_retweets_mean20 }}</p>
            <img src="{{ handle2_retweets_cp20 }}" alt="handle2 countplot"><br>
        </div>
        <div class="cont21">
            <p>Gees retweets: {{ handle2_retweets_sum21 }} ({{ handle2_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ handle2_retweets_mean21 }} ({{ handle2_retweets_mean_diff }})</p>
            <img src="{{ handle2_retweets_cp21 }}" alt="handle2 countplot"><br>
        </div>
    </div>
    <!-- NMBCo retweets -->
    <div id="handle3-retweets" class="two-col-grid">
        <div class="cont20">
            <p>NMBCo total posts' retweets: {{ handle3_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ handle3_retweets_mean20 }}</p>
            <img src="{{ handle3_retweets_cp20 }}" alt="handle3 countplot"><br>
        </div>
        <div class="cont21">
            <p>NMBCo retweets: {{ handle3_retweets_sum21 }} ({{ handle3_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ handle3_retweets_mean21 }} ({{ handle3_retweets_mean_diff }})</p>
            <img src="{{ handle3_retweets_cp21 }}" alt="handle3 countplot"><br>
        </div>
    </div>
    <!-- Oliver Spencer retweets -->
    <div id="handle4-retweets" class="two-col-grid">
        <div class="cont20">
            <p>Oliver Spencer total posts' retweets: {{ handle4_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ handle4_retweets_mean20 }}</p>
            <img src="{{ handle4_retweets_cp20 }}" alt="handle4 countplot"><br>
        </div>
        <div class="cont21">
            <p>Oliver Spencer retweets: {{ handle4_retweets_sum21 }} ({{ handle4_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ handle4_retweets_mean21 }} ({{ handle4_retweets_mean_diff }})</p>
            <img src="{{ handle4_retweets_cp21 }}" alt="handle4 countplot"><br>
        </div>
    </div>
    <!-- The Pig Hotel retweets -->
    <div id="handle5-retweets" class="two-col-grid">
        <div class="cont20">
            <p>The Pig Hotel total posts' retweets: {{ handle5_retweets_sum20 }}</p>
            <p>Average retweets per tweet: {{ handle5_retweets_mean20 }}</p>
            <img src="{{ handle5_retweets_cp20 }}" alt="handle5 countplot"><br>
        </div>
        <div class="cont21">
            <p>The Pig Hotel retweets: {{ handle5_retweets_sum21 }} ({{ handle5_retweets_sum_diff }})</p>
            <p>Average retweets per tweet: {{ handle5_retweets_mean21 }} ({{ handle5_retweets_mean_diff }})</p>
            <img src="{{ handle5_retweets_cp21 }}" alt="handle5 countplot"><br>
        </div>
    </div>
</div>